.vault-summary {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;

  &-vault {
    display: flex;

    &-setting {
      cursor: pointer;
    }
  }

  &-setting {
    cursor: pointer;
    font-size: 20px;
  }

  &-selected {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #9f6fea;
  }

  .ant-card {
    cursor: pointer;
    margin-right: 100px;

    &-body {
      display: flex;
      justify-content: space-between;
    }
  }
}
