.vault-strategies {
  margin-top: 30px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;

  &-positions {
    &-title {
      font-size: 16px;
      font-weight: bold;
      margin-left: 45px;
    }
  }
}
