.vault {
  &-summary {
    display: flex;
    margin-bottom: 50px;

    .ant-card {
      margin-right: 100px;

      &-body {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &-detail {
    display: table;
  }

  &-strategies {
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;

    &-positions {
      &-title {
        font-size: 16px;
        font-weight: bold;
        margin-left: 45px;
      }
    }
  }

  &-investor {
    &-add {
      margin-bottom: 20px;
    }
  }

  &-transfer {
    &-add {
      margin-bottom: 20px;
    }
  }
}
