.vault {
  &-summary {
    display: flex;
    margin-bottom: 50px;

    .ant-card {
      margin-right: 100px;

      &-body {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
