.vault {
  .ant-tabs {
    &-content-holder {
      overflow-y: auto;
    }

    &-tab-active {
      background-color: #e6f7ff !important;

      .ant-tabs-tab-btn {
        color: #514f49 !important;
      }
    }
  }
}
